/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@import url(fonts/Roboto/Roboto.css); 
@import url(fonts/source-sans-pro/source-sans-pro.css); 

body {
	/*display: flex;
	flex-flow: column;*/
	height: 100vh;

	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: lighter;
	text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased; 
	line-height: 1.4;

	color: #222;
	background-color: #fff; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;  
  /* margin: 0 0 20px 0;*/
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;  
}

h1 {
font-size: 2.5em; }

h2 {
font-size: 1.6em; }

h3 {
font-size: 1.3em; }

h4 {
font-size: 1em; }

hr {
	border-top: 1px dotted #e31837;

	/*border: 0;
    height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #e31837, rgba(0, 0, 0, 0));*/
	margin-top: 2em;
	margin-bottom: 2em;
}

ol {
    list-style-type: decimal; }
  
ul {
    list-style-type: disc; }
  
ul ul {
    list-style-type: circle; }
  
ul ul ul {
	list-style-type: square; }


a {
	color: #e31837;
	text-decoration: none;
	transition: color .15s ease; }

a:hover {
	color: #dd7b89;
	text-shadow: none;
	border: none; 
}

::selection {
	color: #fff;
	background: #dd7b89;
	text-shadow: none; }

::-moz-selection {
	color: #fff;
	background: #dd7b89;
	text-shadow: none; }
	  

.centremaxwidth960 {
	margin:    0 auto;
    max-width: 920px;
}